h1 {
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
  margin-left: 20px;
}
h3 {
  font-family: "Montserrat", sans-serif;
  margin-left: 20px;
  font-size: 18px;
}
.main-body {
  margin: 0 auto;
  width: 70%;
  background: white;
  height: 100%;
  box-sizing: border-box;
}
.image {
  background-image: url("background.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3%;
}
.city {
  margin: 30px 30px;
}
.search {
  margin: 30px 30px;
}

.temperature-now {
  font-size: 40px;
}
.weather-details {
  font-size: 15px;
  font-weight: 500;
}
.unit {
  position: relative;
  bottom: 20px;
  font-size: 15px;
}
.day {
  font-weight: 600px;
  font-size: 20px;
}

.temp {
  position: relative;
  top: 15px;
  font-size: 15px;
  left: 10px;
}

#unit-f,
#unit-c {
  text-decoration: none;
}

.weather-block {
  font-family: "Montserrat", sans-serif;
  border: 0.7mm ridge rgba(186, 183, 190, 0.3);
  border-radius: 5px;
  margin: 20px 10px;
  padding: 20px 0 60px 10px;
}
.footer {
  margin-top: 5px;
  font-size: 10px;
  padding-left: 5px;
}
.active {
  color: rgb(33, 31, 36);
  cursor: default;
}
.active:hover {
  text-decoration: none;
  color: rgb(33, 31, 36);
}
